@font-face {
    font-family: 'Ginto-Ultra';
    src:  url("/woff2/ABCGintoNord-Ultra-Trial.woff2");
}
@font-face {
    font-family: 'Ginto-Black';
    src:  url("/woff2/ABCGintoNord-Black-Trial.woff2");
}
@font-face {
    font-family: 'Whitney';
    src:  url("/woff2/Whitney-Medium.woff2");
}

html {
    min-height:100%;
    background-size:fill;
    overflow-x: hidden;
    background-blend-mode: darken;
}
a[href] {
    color: #ffffff;
    text-decoration: none;
    font-size: 1vw;
}
a:hover {
    color: #ffffff;
    text-decoration: underline;

}
body {
    overflow: visible;
    background-position: 0px 0px;
    position: relative;
    line-height: 1.4;
    margin: 0%;
    padding: 0%;
}
h1 {
    color: #ffffff;
    font-size: 3.5vw;
    font-weight: 800;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
    overflow: hidden;
    font-family: 'Ginto-Ultra';
}
.links {
    color: #ffffff;
    font-family: 'Whitney';
    word-spacing: 1.5vw;
}
.pwhite {
    color: #ffffff;
    font-size: 1.25vw;
    font-family: 'Whitney';
    line-height: 1.4;
    font-weight: 50;
}
.pblack {
    color: #23272a;
    font-size: 1.25vw;
    font-family: 'Whitney';
    line-height: 1.4;
    font-weight: 50;
}
h2 {
    color: #ffffff;
    font-size: 2vw;
    font-family: 'Ginto-Black';
}
h3 {
    color: #23272a;
    font-size: 2vw;
    font-family: 'Ginto-Black';
}
.nav {
    margin: 0%;
    width: 50%;
    text-align: left;
    overflow: hidden;
}
.title {
    text-align: center;
    background-color: #5865F2;
    padding: 2.5%;
    min-height:100%;
    background: url(/Pictures/asset.svg);
    background-size:cover;
    height: auto;
    background-blend-mode: darken;
}
.info {
    background-color: #ffffff ;
    text-align:right ;
    float: right;
    margin: 0%;
    width: 100%;
    font-size: 3.3%;
    font-weight: 800;
    height: auto;
    padding: 0%;
}
.offinfo {
    background-color: #f6f6f6;
    text-align:left ;
    float: left;
    width: 100%;
    margin: 0%;
    font-size: 3.3%;
    font-weight: 800;
    height: auto;
    padding: 0%;
}
.rtext {
    width:100%;
    max-width: 30vw;
    float: right;
    padding: 10%;
    white-space: initial;
    word-wrap: break-word;
}
.ltext {
    width:100%;
    max-width: 30vw;
    float: left;
    padding: 10%;
    white-space: initial;
    word-wrap: break-word;
}
.end {
    background-color: #23272a ;
    text-align:left ;
    margin: 0%;
    padding: 0%;
}