@font-face {
    font-family: 'Ginto-Ultra';
    src:  url("/woff2/ABCGintoNord-Ultra-Trial.woff2");
}
@font-face {
    font-family: 'Ginto-Black';
    src:  url("/woff2/ABCGintoNord-Black-Trial.woff2");
}
@font-face {
    font-family: 'Whitney';
    src:  url("/woff2/Whitney-Medium.woff2");
}
html {
    min-height:100%;
    background:#23272a;
    background-size:fill;
    background-blend-mode: darken;
}
a[href] {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}
a:hover {
    color: #ffffff;
    text-decoration: underline;

}
body {
    overflow: visible;
    background-position: 0px 0px;
    position: relative;
    line-height: 1.4;
    margin: 0%;
    padding: 0%;
}
h1 {
    color: #ffffff;
    font-size: 380%;
    font-weight: 800;
    line-height: 200px;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
    font-family: 'Ginto-Ultra';
}
.links {
    color: #ffffff;
    font-family: 'Whitney';
    word-spacing: 60px;
}
.pwhite {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Whitney';
    line-height: 1.4;
    font-weight: 50;
}
.pblack {
    color: #23272a;
    font-size: 20px;
    font-family: 'Whitney';
    line-height: 1.4;
    font-weight: 50;
}
h2 {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Ginto-Black';
}
h3 {
    color: #23272a;
    font-size: 30px;
    font-family: 'Ginto-Black';
}
.nav {
    margin: 0%;
    width: 50%;
    text-align: left;
    overflow: hidden;
}
.title {
    text-align: center;
    background-color: #5865F2;
    padding: 2.5%;
    min-height:100%;
    background: url(/Pictures/asset.svg);
    background-size:cover;
    background-blend-mode: darken;
}
.info {
    background-color: #ffffff ;
    text-align:right ;
    float: right;
    margin: 0px;
    text-size-adjust: 10%;
    font-weight: 800;
    font-size: 3.3%;
    padding: 5%;
}
.offinfo {
    background-color: #f6f6f6;
    text-align:left ;
    margin: 0%;
    font-size: 3.3%;
    font-weight: 800;
    padding: 5%;
}
.rtext {
    size: 30%;
    max-width:500px;
    float: right;
}
.ltext {
    size: 30%;
    max-width:500px;
    float: left;
}
.text {
    size: 30%;
}
.end {
    background-color: #23272a ;
    text-align:left ;
    margin: 0%;
    padding: 5%;
}
.left {
    text-align:left ;
}